# Predicting Lotto Odds for Lotto 6/49

The purpose of this project is to calculate and display the probabilities of achieving varying levels of success when purchasing tickets for Lotto 6/49

In [1]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return factorial(n-1)*n

def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k)*factorial(n-k)
    return numerator/denominator

In [4]:
def one_ticket_probability(ticket):
    total_outcomes = combinations(49,6)
    successful_outcomes = 1
    prob = successful_outcomes/total_outcomes
    print(prob*100, '%')

one_ticket_probability([1,2,3,5,6,7])

7.151123842018516e-08 %

Here we calculate the probability of any one ticket winning. The goal of this function is to show that regardless of the numbers selected by the player, the statistical likelihood of them winning the jackpot is extremely low.

In [5]:
import pandas as pd
six_49 = pd.read_csv('649.csv')
print(six_49.shape)

(3665, 11)
   PRODUCT  DRAW NUMBER  SEQUENCE NUMBER  DRAW DATE  NUMBER DRAWN 1  \
0      649            1                0  6/12/1982               3
1      649            2                0  6/19/1982               8
2      649            3                0  6/26/1982               1

   NUMBER DRAWN 2  NUMBER DRAWN 3  NUMBER DRAWN 4  NUMBER DRAWN 5  \
0              11              12              14              41
1              33              36              37              39
2               6              23              24              27

   NUMBER DRAWN 6  BONUS NUMBER
0              43            13
1              41             9
2              39            34
      PRODUCT  DRAW NUMBER  SEQUENCE NUMBER  DRAW DATE  NUMBER DRAWN 1  \
3662      649         3589                0  6/13/2018               6
3663      649         3590                0  6/16/2018               2
3664      649         3591                0  6/20/2018              14

      NUMBER DRAWN 2  NUMBER DRAWN 3  NUMBER DRAWN 4  NUMBER DRAWN 5  \
3662              22              24              31              32
3663              15              21              31              38
3664              24              31              35              37

      NUMBER DRAWN 6  BONUS NUMBER
3662              34            16
3663              49             8
3664              48            17

In [10]:
six_49.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [11]:
six_49.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [17]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

historical_nums = six_49.apply(extract_numbers, axis = 1)

3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
dtype: object

In [25]:
def check_historical_occurence(ticket, hist_data):
    ticket_set = set(ticket)
    victories = []
    for i in range(0, len(hist_data)):
        if ticket_set.difference(hist_data[i]) == set():
            victories.append(1)
        else:
            victories.append(0)
        
    wins = sum(victories)
    print(wins)
    print(1/combinations(49,6))
    return

check_historical_occurence([33, 36, 37, 39, 8, 41], historical_nums)

1
7.151123842018516e-08

In [26]:
def multi_ticket_probability(tickets):
    total_outcomes = combinations(49,6)
    successful_outcomes = tickets
    probability = successful_outcomes/total_outcomes
    print(probability*100, '%')
    return

multi_ticket_probability(1)
multi_ticket_probability(10)
multi_ticket_probability(100)
multi_ticket_probability(10000)
multi_ticket_probability(1000000)
multi_ticket_probability(6991908)
multi_ticket_probability(13983816)

7.151123842018516e-06 %
7.151123842018517e-05 %
0.0007151123842018516 %
0.07151123842018516 %
7.151123842018517 %
50.0 %
100.0 %

In [29]:
def probability_less_6(num):
    total_outcomes = combinations(49, 6)
    combos = combinations(6, num)
    left = combinations(49-num, 6-num)
    successful_outcomes = combos*left
    prob = successful_outcomes/total_outcomes
    print(prob*100, '%')
    
probability_less_6(5)
probability_less_6(4)
probability_less_6(3)
probability_less_6(2)

0.0018878966942928882 %
0.10619418905397496 %
2.1710811984368217 %
19.132653061224488 %