# Designing and Creating a Database

In the following project we will be designing and creating a databse to store historical data for games played in the Major Baseball League (MLB). The data has been pulled from the [Retrosheet](https://retrosheet.org/) website.

In [1]:
import pandas as pd
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

game_log = pd.read_csv('game_log.csv')
park_codes = pd.read_csv('park_codes.csv')
person_codes = pd.read_csv('person_codes.csv')
team_codes = pd.read_csv('team_codes.csv')

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
print(game_log.shape)
print(game_log.head())
print(game_log.tail())

(171907, 161)
       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1      NaN              1    FW1
1  18710505               0         Fri    BS1      NaN              1    WS3
2  18710506               0         Sat    CL1      NaN              2    RC1
3  18710508               0         Mon    CL1      NaN              3    CH1
4  18710509               0         Tue    BS1      NaN              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0      NaN              1        0        2         54.0         D        NaN
1      NaN              1       20       18         54.0         D        NaN
2      NaN              1       12        4         54.0         D        NaN
3      NaN              1       12       14         54.0         D        NaN
4      NaN              1        9        5         54.0         D        NaN

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0      NaN     NaN   FOR01       200.0           120.0    000000000
1      NaN     NaN   WAS01      5000.0           145.0    107000435
2      NaN     NaN   RCK01      1000.0           140.0    610020003
3      NaN     NaN   CHI01      5000.0           150.0    101403111
4      NaN     NaN   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

   v_intentional_walks  v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                  NaN           6.0             1.0                NaN
1                  NaN           5.0             3.0                NaN
2                  NaN           1.0             0.0                NaN
3                  NaN           1.0             0.0                NaN
4                  NaN           0.0             1.0                NaN

   v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                    -1.0                           NaN             4.0
1                    -1.0                           NaN            12.0
2                    -1.0                           NaN            10.0
3                    -1.0                           NaN             7.0
4                    -1.0                           NaN            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks  h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                  NaN           0.0             0.0
1     10.0                  NaN           2.0             1.0
2      0.0                  NaN           3.0             5.0
3      4.0                  NaN           2.0             1.0
4      3.0                  NaN           0.0             2.0

   h_caught_stealing  h_grounded_into_double  h_first_catcher_interference  \
0                NaN                    -1.0                           NaN
1                NaN                    -1.0                           NaN
2                NaN                    -1.0                           NaN
3                NaN                    -1.0                           NaN
4                NaN                    -1.0                           NaN

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake          NaN            NaN          NaN            NaN
1     Henry Dobson          NaN            NaN          NaN            NaN
2       J.H. Manny          NaN            NaN          NaN            NaN
3  Gardner Willard          NaN            NaN          NaN            NaN
4      Isaac Leroy          NaN            NaN          NaN            NaN

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0          NaN            NaN          NaN            NaN          NaN
1          NaN            NaN          NaN            NaN          NaN
2          NaN            NaN          NaN            NaN          NaN
3          NaN            NaN          NaN            NaN          NaN
4          NaN            NaN          NaN            NaN          NaN

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0            NaN     paboc101  Charlie Pabor     lennb101     Bill Lennon
1            NaN     wrigh101   Harry Wright     younn801      Nick Young
2            NaN     paboc101  Charlie Pabor     hasts101  Scott Hastings
3            NaN     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4            NaN     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt               NaN                 NaN
1        Asa Brainard               NaN                 NaN
2     Cherokee Fisher               NaN                 NaN
3            Al Pratt               NaN                 NaN
4       John McMullin               NaN                 NaN

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                   NaN                        NaN              prata101
1                   NaN                        NaN              spala101
2                   NaN                        NaN              prata101
3                   NaN                        NaN              prata101
4                   NaN                        NaN              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info
0       Bill Kelly                 9.0             NaN                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0             NaN                Y
3  George Zettlein                 1.0             NaN                Y
4      Bill Craver                 6.0            HTBF                Y
            date  number_of_game day_of_week v_name v_league  v_game_number  \
171902  20161002               0         Sun    MIL       NL            162
171903  20161002               0         Sun    NYN       NL            162
171904  20161002               0         Sun    LAN       NL            162
171905  20161002               0         Sun    PIT       NL            162
171906  20161002               0         Sun    MIA       NL            161

       h_name h_league  h_game_number  v_score  h_score  length_outs  \
171902    COL       NL            162        6        4         60.0
171903    PHI       NL            162        2        5         51.0
171904    SFN       NL            162        1        7         51.0
171905    SLN       NL            162        4       10         51.0
171906    WAS       NL            162        7       10         51.0

       day_night completion forefeit protest park_id  attendance  \
171902         D        NaN      NaN     NaN   DEN02     27762.0
171903         D        NaN      NaN     NaN   PHI13     36935.0
171904         D        NaN      NaN     NaN   SFO03     41445.0
171905         D        NaN      NaN     NaN   STL10     44615.0
171906         D        NaN      NaN     NaN   WAS11     28730.0

        length_minutes v_line_score h_line_score  v_at_bats  v_hits  \
171902           203.0   0200000202   1100100010       39.0    10.0
171903           159.0    000001100    00100031x       33.0     8.0
171904           184.0    000100000    23000002x       30.0     4.0
171905           192.0    000020200    00100360x       35.0     9.0
171906           216.0    000230020    03023002x       38.0    14.0

        v_doubles  v_triples  v_homeruns  v_rbi  v_sacrifice_hits  \
171902        4.0        1.0         2.0    6.0               0.0
171903        3.0        0.0         0.0    2.0               0.0
171904        0.0        0.0         0.0    1.0               0.0
171905        0.0        0.0         1.0    4.0               0.0
171906        1.0        1.0         2.0    7.0               1.0

        v_sacrifice_flies  v_hit_by_pitch  v_walks  v_intentional_walks  \
171902                0.0             1.0      4.0                  0.0
171903                0.0             0.0      2.0                  0.0
171904                0.0             0.0      2.0                  0.0
171905                0.0             0.0      4.0                  0.0
171906                0.0             0.0      3.0                  2.0

        v_strikeouts  v_stolen_bases  v_caught_stealing  \
171902          12.0             2.0                1.0
171903           9.0             1.0                1.0
171904           7.0             0.0                0.0
171905          11.0             0.0                1.0
171906          10.0             1.0                1.0

        v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
171902                     0.0                           0.0             8.0
171903                     1.0                           0.0             6.0
171904                     1.0                           0.0             4.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             8.0

        v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
171902              7.0                       4.0                 4.0
171903              6.0                       3.0                 3.0
171904              7.0                       7.0                 7.0
171905              6.0                       8.0                 8.0
171906              7.0                      10.0                10.0

        v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  \
171902             1.0      0.0       30.0       12.0       1.0
171903             0.0      0.0       24.0       12.0       3.0
171904             0.0      0.0       24.0        5.0       1.0
171905             0.0      0.0       24.0        2.0       2.0
171906             1.0      0.0       24.0       11.0       0.0

        v_passed_balls  v_double_plays  v_triple_plays  h_at_bats  h_hits  \
171902             0.0             0.0             0.0       41.0    13.0

The game log csv file is enormous, containing information on 171,907 games played with 161 columns of information including the date, team, score, location, umpires amongst others. It contains multiple id columns on which we may be able to link it to other files.

In [3]:
print(park_codes.shape)
print(park_codes.head())
print(park_codes.tail())

(252, 9)
  park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington

                                        aka       city state       start  \
0                                       NaN     Albany    NY  09/11/1880
1                                       NaN    Altoona    PA  04/30/1884
2             Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966
3                                       NaN  Arlington    TX  04/21/1972
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX  04/11/1994

          end league                                           notes
0  05/30/1882     NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1  05/31/1884     UA                                             NaN
2         NaN     AL                                             NaN
3  10/03/1993     AL                                             NaN
4         NaN     AL                                             NaN
    park_id                                 name  aka           city state  \
247   WIL02        BB&T Ballpark at Bowman Field  NaN    Wiliamsport    PA
248   WNY01     West New York Field Club Grounds  NaN  West New York    NJ
249   WOR01   Agricultural County Fair Grounds I  NaN      Worcester    MA
250   WOR02  Agricultural County Fair Grounds II  NaN      Worcester    MA
251   WOR03       Worcester Driving Park Grounds  NaN      Worcester    MA

          start         end league  \
247  08/20/2017  08/20/2017     NL
248  09/11/1898  09/17/1899     NL
249  05/01/1880  09/29/1882     NL
250  08/17/1887  08/17/1887     NL
251  10/30/1874  10/30/1874    NaN

                                                      notes
247                                                     PIT
248  BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99
249                                                     NaN
250                                              1 BSN game
251                                              1 BS1 game

The park codes csv file contains the key information on the 252 baseball stadiums that games were played in. Notably it contains the city, state, league and id of the stadium, the last of which can be used to connect entries from the park codes dataset to that found in games logs.

In [4]:
print(person_codes.shape)
print(person_codes.head())
print(person_codes.tail())

(20494, 7)
         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN
             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

The person codes csv file contains information on the 20,494 personel in various baseball leagues. It contains their full names, their debut date as a player, manager, coach or umpire. Additionally, it contains a unique id that can be linked to the main games logs file.

In [5]:
print(team_codes.shape)
print(team_codes.head())
print(team_codes.tail())

(150, 8)
  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

The team codes csv contains basic information on 150 teams across multiple leagues. Thisinformation includes the teams inception year, year of termination, city, franchise association and a team id that can be used to identify it in the games logs dataset.

In [6]:
import sqlite3
conn = sqlite3.connect('mlb.db')

In [7]:
# Create the run_query and run_command functions that we previously used

DB = "mlb.db"

def run_query(q):
    with sqlite3.connect(DB) as conn:
        return pd.read_sql(q,conn)

def run_command(c):
    with sqlite3.connect(DB) as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)

def show_tables():
    q = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(q)

In [8]:
# Convert all of our DataFrames to tables in our database
game_log.to_sql('game_log', conn, index = False)
park_codes.to_sql('park_codes', conn, index = False)
person_codes.to_sql('person_codes', conn, index = False)
team_codes.to_sql('team_codes', conn, index = False)

In [9]:
# Add the new id column that we shall use to uniquely identify games
q = '''
ALTER TABLE game_log 
ADD COLUMN game_id TEXT
'''

run_command(q)

In [10]:
# Verify that we created the extra column
q = '''
SELECT * from game_log
LIMIT 5
'''

game_log_head = pd.read_sql_query(q, conn)
print(game_log_head)

       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1     None              1    FW1
1  18710505               0         Fri    BS1     None              1    WS3
2  18710506               0         Sat    CL1     None              2    RC1
3  18710508               0         Mon    CL1     None              3    CH1
4  18710509               0         Tue    BS1     None              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0     None              1        0        2         54.0         D       None
1     None              1       20       18         54.0         D       None
2     None              1       12        4         54.0         D       None
3     None              1       12       14         54.0         D       None
4     None              1        9        5         54.0         D       None

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0     None    None   FOR01       200.0           120.0    000000000
1     None    None   WAS01      5000.0           145.0    107000435
2     None    None   RCK01      1000.0           140.0    610020003
3     None    None   CHI01      5000.0           150.0    101403111
4     None    None   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

  v_intentional_walks  v_strikeouts  v_stolen_bases v_caught_stealing  \
0                None           6.0             1.0              None
1                None           5.0             3.0              None
2                None           1.0             0.0              None
3                None           1.0             0.0              None
4                None           0.0             1.0              None

   v_grounded_into_double v_first_catcher_interference  v_left_on_base  \
0                    -1.0                         None             4.0
1                    -1.0                         None            12.0
2                    -1.0                         None            10.0
3                    -1.0                         None             7.0
4                    -1.0                         None            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                None           0.0             0.0
1     10.0                None           2.0             1.0
2      0.0                None           3.0             5.0
3      4.0                None           2.0             1.0
4      3.0                None           0.0             2.0

  h_caught_stealing  h_grounded_into_double h_first_catcher_interference  \
0              None                    -1.0                         None
1              None                    -1.0                         None
2              None                    -1.0                         None
3              None                    -1.0                         None
4              None                    -1.0                         None

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake         None           None         None           None
1     Henry Dobson         None           None         None           None
2       J.H. Manny         None           None         None           None
3  Gardner Willard         None           None         None           None
4      Isaac Leroy         None           None         None           None

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0         None           None         None           None         None
1         None           None         None           None         None
2         None           None         None           None         None
3         None           None         None           None         None
4         None           None         None           None         None

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0           None     paboc101  Charlie Pabor     lennb101     Bill Lennon
1           None     wrigh101   Harry Wright     younn801      Nick Young
2           None     paboc101  Charlie Pabor     hasts101  Scott Hastings
3           None     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4           None     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt              None                None
1        Asa Brainard              None                None
2     Cherokee Fisher              None                None
3            Al Pratt              None                None
4       John McMullin              None                None

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                  None                       None              prata101
1                  None                       None              spala101
2                  None                       None              prata101
3                  None                       None              prata101
4                  None                       None              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info  \
0       Bill Kelly                 9.0            None                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0            None                Y
3  George Zettlein                 1.0            None                Y
4      Bill Craver                 6.0            HTBF                Y

  game_id
0    None
1    None
2    None
3    None
4    None

In [11]:
# Update all rows of the id column with the compound key desired
q = '''
UPDATE game_log SET game_id = h_name || date || number_of_game
'''

run_command(q)

# Check that the rows have been properly updated
q = '''
SELECT * FROM game_log
LIMIT 1
'''

row = pd.read_sql_query(q, conn)

# Normalizing the Data

We are going to look for ways to normalize our data and thus make our entire process simpler. There are a few things that we may want to look into when considering ways to normalize our data. These include:

   1. Repetition in columns: we do not want to be repeating the same type of columns over and over again
   2. Non-primary key columns should be attributes of the primary key: each table should contain information related to the primary key; otherwise we will have unrelated information in the same table
   3. Redundant data: storing the same information multiple times is wasteful and costly.

With these three points in mind, we turn to our database to see how we can apply these principles. Repetition in columns is most evident in the game_log table. Here we have multiple examples of where there are multiple columns describing one player followed by an equal number of columns describing the next player. Furthermore, this also violates the principle that the non-primary key columns should be attributes of the primary key. Since the game_log table should be focused on the game statistics and not information about the players, these columns should be placed into a new table and then removed from the game_log table. 

As for redundant data, there are a few examples. A simple one is the start and end dates for the park_codes table; the first and last occurence of a park code will be recorded in the game_log and hence these dates can be deduced from the game_log table. A similar principle can be applied to the start and end columns of the team_codes table, as a team's premiere and final game can be determined by the games_log table. 

A normalized database schema can be seen below. The code that follows will be creating the necessary tables and extracting relevant information from the originally imported data.

![DB Schema](mlb_schema.svg)

In [12]:
# Start creating the tables with no foreign keys
# 3 step process:
# 1. Create the new table
# 2. Insert the relevant information from the existing tables
# 3. Remove the original tables once we're done

cp1 = '''
CREATE TABLE IF NOT EXISTS person (
person_id TEXT PRIMARY KEY,
first_name TEXT,
last_name TEXT
);
'''

cp2 = '''
INSERT OR IGNORE INTO person
SELECT 
    id,
    first,
    last 
FROM person_codes;
'''

qp1 = '''
SELECT * from person
LIMIT 5
'''

run_command(cp1)
run_command(cp2)
pd.read_sql_query(qp1, conn)

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

In [13]:
cp1 = '''
CREATE TABLE IF NOT EXISTS park(
park_id TEXT PRIMARY KEY,
name TEXT,
nickname TEXT,
city TEXT, 
state TEXT,
notes TEXT
);
'''

cp2 = '''
INSERT OR IGNORE INTO park
SELECT 
    park_id,
    name, 
    aka, 
    city, 
    state, 
    notes 
FROM park_codes;
'''

qp1 = '''
SELECT * FROM park
LIMIT 5
'''

run_command(cp1)
run_command(cp2)
pd.read_sql_query(qp1, conn)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

In [32]:
c1 = "DROP TABLE IF EXISTS appearance_type;"

run_command(c1)

c2 = """
CREATE TABLE appearance_type (
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
);
"""
run_command(c2)

appearance_type = pd.read_csv('appearance_type.csv')

with sqlite3.connect('mlb.db') as conn:
    appearance_type.to_sql('appearance_type',
                           conn,
                           index=False,
                           if_exists='append')

q = """
SELECT * FROM appearance_type;
"""

run_query(q)

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

In [15]:
cl1 = '''
CREATE TABLE IF NOT EXISTS league (
    league_id TEXT PRIMARY KEY,
    name TEXT
);
'''

cl2 = '''
INSERT OR IGNORE INTO league
VALUES
    ("NL", "National League"),
    ("AL", "American League"),
    ("AA", "American Association"),
    ("FL", "Federal League"),
    ("PL", "Players League"),
    ("UA", "Union Association")
;
'''

ql1 = '''
SELECT * FROM league
'''

run_command(cl1)
run_command(cl2)
pd.read_sql_query(ql1,conn)

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        FL        Federal League
4        PL        Players League
5        UA     Union Association

In [16]:
ct3 = ''' 
DROP TABLE IF EXISTS team
'''
run_command(ct3)

In [17]:
# Create the team and game tables
ct1 = '''
CREATE TABLE IF NOT EXISTS team(
    team_id TEXT PRIMARY KEY,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT,
    FOREIGN KEY (league_id) REFERENCES league(league_id)
    );
'''

ct2 = '''
INSERT OR IGNORE INTO team
SELECT 
    team_id, 
    league,
    city,
    nickname,
    franch_id
FROM team_codes;
'''

qt1 = '''
SELECT * FROM team
LIMIT 5
'''

run_command(ct1)
run_command(ct2)
pd.read_sql_query(qt1, conn)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

In [18]:
# Create the game table

cg1 = '''
CREATE TABLE IF NOT EXISTS game(
    game_id TEXT PRIMARY KEY,
    date TEXT, 
    number_of_game INTEGER,
    park_id TEXT,
    length_outs INTEGER,
    day BOOLEAN,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance INTEGER,
    length_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
    );
'''

cg2 = '''
INSERT OR IGNORE INTO game
SELECT
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE
        WHEN day_night = 'D' THEN 1
        WHEN day_night = 'N' THEN 0
        ELSE NULL
        END
        AS day,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log;
'''

qg1 = '''
SELECT * FROM game
LIMIT 5
'''

run_command(cg1)
run_command(cg2)
pd.read_sql_query(qg1, conn)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,WS3187105050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,RC1187105060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y
3,CH1187105080,18710508,0,CHI01,54,1,None,None,None,5000,150,None,Y
4,TRO187105090,18710509,0,TRO01,54,1,None,None,None,3250,145,HTBF,Y

In [19]:
# !rm mlb.db # command to remove all database files

In [20]:
ccl = '''
DROP TABLE IF EXISTS team_appearance;
'''

run_command(ccl)

cta1 = '''
CREATE TABLE IF NOT EXISTS team_appearance (
    team_id TEXT,
    game_id TEXT, 
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);

'''

run_command(cta1)

cta2 = '''
INSERT OR IGNORE INTO team_appearance
    SELECT
        h_name,
        game_id, 
        1 AS home,
        h_league,
        h_score,
        h_line_score,
        h_at_bats,
        h_hits,
        h_doubles,
        h_triples,
        h_homeruns,
        h_rbi,
        h_sacrifice_hits,
        h_sacrifice_flies,
        h_hit_by_pitch,
        h_walks,
        h_intentional_walks,
        h_strikeouts,
        h_stolen_bases,
        h_caught_stealing,
        h_grounded_into_double,
        h_first_catcher_interference,
        h_left_on_base,
        h_pitchers_used,
        h_individual_earned_runs,
        h_team_earned_runs,
        h_wild_pitches,
        h_balks,
        h_putouts,
        h_assists,
        h_errors,
        h_passed_balls,
        h_double_plays,
        h_triple_plays 
    FROM game_log
    
UNION

    SELECT
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score,
        v_line_score,
        v_at_bats,
        v_hits,
        v_doubles,
        v_triples,
        v_homeruns,
        v_rbi,
        v_sacrifice_hits,
        v_sacrifice_flies,
        v_hit_by_pitch,
        v_walks,
        v_intentional_walks,
        v_strikeouts,
        v_stolen_bases,
        v_caught_stealing,
        v_grounded_into_double,
        v_first_catcher_interference,
        v_left_on_base,
        v_pitchers_used,
        v_individual_earned_runs,
        v_team_earned_runs,
        v_wild_pitches,
        v_balks,
        v_putouts,
        v_assists,
        v_errors,
        v_passed_balls,
        v_double_plays,
        v_triple_plays
    FROM game_log;

'''
    

run_command(cta2)

qta = '''
SELECT * FROM team_appearance
LIMIT 5;
'''

pd.read_sql_query(qta, conn)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,ALT188404300,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT188405020,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,ALT188405030,1,UA,5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,ALT,ALT188405050,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,ALT,ALT188405100,1,UA,9,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [33]:
ccl = '''
DROP TABLE IF EXISTS person_appearance;
'''

run_command(ccl)

cpa1 = '''
CREATE TABLE IF NOT EXISTS person_appearance (
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT, 
    team_id TEXT,
    game_id TEXT,
    appearance_type_id,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);
'''

run_command(cpa1)

In [ ]:
template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}" 
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT) 
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""


for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        # run commmand is a helper function which runs
        # a query against our database.
        run_command(template.format(**query_vars))

In [28]:
show_tables()

                 name   type
0            game_log  table
1          park_codes  table
2        person_codes  table
3          team_codes  table
4              person  table
5                park  table
6     appearance_type  table
7              league  table
8                team  table
9                game  table
10    team_appearance  table
11  person_appearance  table